@import "tailwindcss";

@layer base {
  html, body {
    @apply font-mono bg-[#0d1117] text-[#e6edf3] scroll-smooth;
  }
}

a {
  @apply text-[#00bfa6] hover:text-[#5b5fc7] transition;
}

/* Webkit browsers */
::-webkit-scrollbar {
  width: 2px;      /* super thin vertical */
  height: 2px;     /* super thin horizontal */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00bfa6; /* teal green */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00e0b0;
}

/* Firefox */
* {
  scrollbar-width: thin;        /* Firefox cannot go thinner than this */
  scrollbar-color: #00bfa6 transparent;
}
